/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-transition-title: 0.3s;
    --blue-color: #0057ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;

}

html {
    scroll-behavior: smooth;

}

body {

    font-family: system-ui;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: white;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #aaa; */

}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}



/* End Global Rules */



/* Start page */
.page {
    background-color: #ddd;
    min-height: 100vh;
}

/* End page */


/* Start Sidebar */
.s{
    transition: 0.3s;
    position: fixed;
    left: -200px;
    /* left: 0; */
    z-index: 1111111;
}
.sidebar {
    width: 200px;
    box-shadow: 1px 0 4px #aaa;
    position: sticky;
    top:0;
    left: 0;
    height: 100vh;

}

.sidebar>h3 {
    margin-bottom: 50px;
    margin-top: -32px;
}

.sidebar>h3::before {
    content: '';
    background-color: black;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    left: 50%
}

.sidebar>h3::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    border: 4px solid white;
    transform: translateX(-50%);
}
#btnNav{
    color: var(--grey-color);
    position: relative;
    top: -3px;
    right: -180px;
    background: white;
    border: 1px solid #ccc;
    display: inline-flex;
    padding: 8px 4px;
    border-left: none;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
/* .sidebar ul {}

.sidebar ul li {} */

.sidebar ul li a {
    transition: var(--main-transition);
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #ddd;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;

}

@media (max-width:767px) {
    .s{
        transition: 0.3s;
        position: static;
      
    }
    .sidebar {
        width: 63px;
        padding: 10px;
    }
    #btnNav{
    display: none;
    }
    .sidebar>h3 {
        font-size: small;
        width: 12px;
        margin: 15px 0;

    }

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}


/* End Sidebar */



/*--------- Start content-------- */
.content {
    overflow: hidden;
    margin-top: 70px;
}

/*--------- End content ----------*/

/*--- Start content head--- */
.head{
    
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
        box-shadow: 0px 4px 10px #aaa;
    
}
.search{
    display: flex;
    align-items: center;
    margin-left:0px ;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);

}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 30px;
    width: 180px;
    transition: width var(--main-transition);
}

.head .search input:focus {
    outline-color: #aaa;
    width: 250px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}


/* .head .icons .notification::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px
} */
.head .icons .notification .notification-number {
    
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    color: white;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    font-size: 0.1em;
    font-weight: bold;
    
}
.head .icons .notification .notification-number span {
    position: absolute;
    background-color: var(--red-color);
    font-size: 8px;
    width: 12px;
    height: 12px;
    color: white;
    font-weight: 600;
    padding: 1px;
    border-radius: 50%;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
    border: #0057ff 1px solid;
    background-color: #f6f6f6;
}

/*--- End content  heead---*/

/* -----Start h1 ---------- */
.page h1 {
    margin: 20px 20px 40px 20px;
}
.page .head h4{
    margin: 0;
    transform: translate(-50%, 0%);
    font-family: sans-serif;
}
.page .head h4::before,
.page .head h4::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;

}

.page .head h4::before {
    background-color: #ccc;
    width: 100%;
}

.page .head h4::after {
    background-color: var(--blue-color);
    width: 30%;
}
.page h1::before,
.page h1::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;

}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: var(--blue-color);
    width: 40px;
}

/* ------End h1--------- */


/* --------Start Wrapper------- */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(auto-fill, minmax(200px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    .page .head h4{
       display: none;
    }
    .search{
    
        margin-left:40px ;
    }
}

/* --------End Wrapper------- */

/* ----------Start Welcome--------- */
.welcome {
    overflow: hidden;
    box-shadow: 0 0 5px #ddd;
}

.welcome .intro img {
    width: 160px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid #0057ff;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 6px var(--blue-alt-color);
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    background-color: var(--blue-color);
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);

}

@media (max-width:767px) {
    .welcome {
        width: 100%;
    }

    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* ----------End Welcome--------- */

/* --------Start Quick Draft Widget------- */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    margin-left: auto;
    transition: var(--main-transition);
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* --------End Quick Draft Widget------- */



/* ------------Start Targets----------- */
.targets .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
    border-radius: 6px;

}

.targets .details .progress>span {
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

}

#s1 {
    animation: p1 3s alternate;
}

@keyframes p1 {
    from {

        width: 0;
    }

    to {
        width: 70%;
    }
}

#s2 {
    animation: p2 3s alternate;
}

@keyframes p2 {
    from {
        width: 0;
    }

    to {
        width: 55%;
    }
}

#s3 {
    animation: p3 3s alternate;
}

@keyframes p3 {
    from {
        width: 0;

    }

    to {
        width: 40%;
    }
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
}

.targets .details .progress>span span::after {
    content: '';
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    /* border-top-color: var(--blue-color) ; */

    transform: translateX(-50%);
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 /20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 /20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 /20%);
}

/* ------------End Targets----------- */
/* ------------Start Tickeits----------- */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

.tickets .box:hover {
    background-color: #eee;
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}

/* ------------End Tickeits----------- */

/* ----------Start Latest News---------- */
/* التنسيقات للكل ماعدا اخر واحد */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
    width: 100px;

    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .info {
    flex-grow: 1;
}

.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

@media(max-width : 767px) {
    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
        font-size: 13px;
    }

    .latest-news .news-row img {
        width: 200px;

        border-radius: 6px;
        margin-right: 15px;
    }
}

/* ----------End Latest News---------- */


/* ------------Start Tasks--------- */
.tasks .tasks-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.4;

}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: var(--main-transition);
}

.tasks .delete:hover {
    color: var(--red-color);
}

/* ------------End Tasks----------   */

/* Start latest-uploads  */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 50px;
    height: 50px;

}

/* End latest-uploads  */

/* Start Last Project Progress Widget  */
.last-project ul::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    content: '';
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project .launch-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;

    animation: opacity-bold 0.8s infinite alternate;
}

/* End Last Project Progress Widget  */

 /* Start Reminders Widget  */
    .reminders ul li .key{
        width: 15px;
        height: 15px;
    }
    .reminders ul li > .blue{
        border-left: 2px solid var(--blue-color);
    }
    .reminders ul li > .orange{
        border-left: 2px solid var(--orange-color);
    }
    .reminders ul li > .green{
        border-left: 2px solid var(--green-color);
    }
    .reminders ul li > .red{
        border-left: 2px solid var(--red-color);
    }
 /* End Reminders Widget  */

/* Start Latest Post   */
.latest-post .avatar{
width: 48px;
height: 48px;
padding: 2px;
border: 1px solid var(--blue-alt-color);
}
/* End Latest Post  */

/* Start Latest Post   */
.latest-post  .post-content{
text-transform: capitalize;
line-height: 1.8;
border-top:  1px solid #eee ;
border-bottom: 1px solid #eee;
min-height: 140px;
}
/* End Latest Post   */


 /* Start Social  Media  */
 .social-media .box{
    padding-left: 70px;
 }
 .social-media .box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: var(--main-transition);
 }
 .social-media .box i:hover{
    transform: rotate( 5deg);
 }
 .social-media .twitter{
background-color:rgb(29 161 242 /20% );
color: #1da1f2;
 }
 .social-media .twitter i, .social-media .twitter a{
    background-color: #1da1f2;
 }   
 .social-media .facebook{
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
 .social-media .facebook i ,.social-media .facebook a{
    background-color:#1877f2 ;
    
 }
 .social-media .youtube{
    background-color: rgb(255 0  0 /20%);
    color: #ff0000;
}
 .social-media .youtube i ,.social-media .youtube a{
    background-color:#ff0000 ;
    
 }
 .social-media .linkedin{
    background-color:rgb(0 119 181 /20%) ;
    color:#0077b5 ;
}
 .social-media .linkedin i ,.social-media .linkedin a{
    background-color:#0077b5 ;
    
 }
 
 
/* End Social  Media   */

/* Start Projects Tables  */
.projects .responsiv-table{
    overflow-x: auto;
}
.projects table{
    min-width: 950px;
    border-spacing: 0;
}
.projects  thead td{
    background-color: #eee;
    font-weight: bold;
}
.projects table td{
    padding: 10px;
}
.projects tbody td{
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: var(--main-transition);
}
/* تنسيق فقط لاخر خليه  */
.projects table tbody tr td:last-child{
border-right: 2px solid var(--blue-alt-color);
}
.projects table .label{
    font-size: 13px;
}
.projects tbody tr:hover td{
    background-color: #ddd;

}
.projects table img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    transition: var(--main-transition);
}
/* تنسيق لكل الصور ماعدا اول صوره */
.projects table img:not(:first-child){
    margin-left: -20px;
}
/* End Projects Tables  */


/* Start Settings Page */
.settings-page{
grid-template-columns: repeat(auto-fill, minmax(320px ,1fr));
}
@media (max-width:767px){
    .settings-page{
        grid-template-columns: minmax(100px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page .Close-message{
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}
.settings-page .email{
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page .sec-box{
border-bottom: 1px solid #eee ;
}
.settings-page .sec-box .button{
transition:  var( --main-transition);
    }
    .settings-page .sec-box .button:hover{
        background: var(--blue-alt-color);
        }
.settings-page .sec-box:not(:last-of-type){
padding-bottom: 15px;
}
.settings-page .social-boxes i{
    display: flex;
width:  40px;
height:  40px;
background-color: #f6f6f6;
border:  1px solid #ddd;
border-right: none ;
border-radius:  6px  0 0 6px;
transition: var(--main-transition);
}
.settings-page .social-boxes input{
    height:  40px;
    background-color: #f6f6f6;
    border:  1px solid #ddd;
    padding-left: 10px;
    border-radius:0  6px   6px 0;

}
.settings-page .social-boxes > div:focus-within i{
color: black;

}

.Widgets-control .control input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
}
.Widgets-control .control label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.Widgets-control .control label::before{
    border-radius: 4px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
}
.Widgets-control .control label:hover:before{
    border-color: var(--blue-alt-color);
}
.Widgets-control .control label::after{
    content: '\f00c';
    border-radius: 4px;

    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}
.Widgets-control .control input[type="checkbox"]:checked + label::after{
transform: scale(1) ;
}

.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before{
    border-radius:50%;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
}
.backup-control .date label::after{
    content: '';
    position: absolute;
    left: 5px;
    top:5px;    
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: var(--main-transition);
    transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before{
    border-color: var(--blue-color);
    }
.backup-control .date input[type="radio"]:checked + label::after{
    transform: scale(1) ;
    }   


.backup-control  .servers {
border-top: 1px solid #ddd;
padding-top:  20px;
}

@media (max-width :767px){
    .backup-control .servers{
        flex-wrap: wrap;
    }
}
.backup-control  .servers  .server{
border: 2px solid #ddd;
position: relative;
}
.backup-control  .servers  .server label{
cursor: pointer;
font-size: 12px;
} 
.backup-control  .servers input[type="radio"]:checked + .server {
border-color:  var(--blue-color);
color: var(--blue-color);
transition: var(--main-transition);
}



.toggle-checkbox{
-webkit-appearance: none;
appearance: none;
display: none;
}

.toggle-switch{
background-color: #ccc;
width: 78px;
height: 32px;
border-radius: 16px;
position: relative;
transition: var(--main-transition);
cursor: pointer;
}
.toggle-switch::before{
    font-family: var(--fa-style-family-classic);
    content: '\f00d';
    font-weight: 900 ;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50% ;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch{
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
    content: '\f00c';
    left: 50px;
    color: var(--blue-color);
}

.settings-page :disabled{
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/* End Settings Page */

/* Start profile Page */
@media (max-width :767px){
    .profile-page .overview{
        flex-direction: column;
    }
    .profile-page .info-box .box > div{
        min-width: 150px;
        padding: 10px 0 0;
    }
}
.profile-page .avatar-box{
width: 300px;
}
@media (min-width:768px){
    .profile-page .avatar-box{
        border-right: 1px solid #ddd;
        
        }

}
.profile-page .avatar-box > img{
    width: 120px; 
    height: 120px;
padding: 4px;
    border: 2px solid var(--blue-alt-color);
}
.profile-page .avatar-box .level{
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box .level span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.profile-page .info-box .box{
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    transition: var(--main-transition);
}
.profile-page .info-box .box:hover{
    background-color: #eee;
}
.profile-page .info-box .box > div{
    width: 182px;
    padding: 10px  0   0;
}
@media (max-width :767px){
    .profile-page .info-box .box > div{
        min-width: calc(100% - 10px);
        padding: 10px 5px 0 ;
    }
}
.profile-page .info-box h4{
    font-weight: normal;
}

.box .toggle-checkbox{
    -webkit-appearance: none;
    appearance: none;
    display: none;
    }
@media (max-width: 767px){
    .profile-page .info-box .toggle-switch{
        margin: auto;
    }
}    
.box .toggle-switch{
      height: 20px;
  
    }
.box .toggle-switch::before{
      
    width: 12px;
    height: 12px;
    font-size: 8px;
        
    }

.box .toggle-checkbox:checked + .toggle-switch::before{
    
        left: 62px;
        
    }

@media (max-width: 767px)
{
    .profile-page .othre-data{
        flex-direction: column;
    }
}
    
.profile-page .skills-card{
    flex-grow:1;
}
.profile-page .skills-card ul li{
    padding: 15px 0;
    
}

.profile-page .skills-card ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

.profile-page .skills-card ul li span{
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child){
    margin-right: 5px;
}
.profile-page .activites{
    flex-grow: 2;
}

.profile-page .activity:not(:last-of-type){
    border-bottom:  1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activity .img {
    width: 64px ;
    height: 64px;
    background: #ddd;
    border-radius: 50%;
    margin-right: 10px;
  
}
.profile-page .activity .img i {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    padding-top: 10px;
    text-align:center;
    font-size: 43px;
    color:white;
    background-color:var(--blue-color) ;
}
@media (min-width : 768px){
.profile-page .activity .date{
    margin-left: auto;
    text-align: right;
}
}
@media (max-width : 767px){
    .profile-page .activity { flex-direction: column;}
    .profile-page .activity .img{margin-right: 0;
    margin-bottom: 20px;}

    /* .profile-page .activity .img i{

    } */
    .profile-page .activity .date{
        margin-top : 15px;
    }
    }
/* .profile-page .activity .date{
    
} */
 /* End profile Page */


 /* Start projects Page  */
.projects-page{
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
@media( max-width:767px){
    .projects-page{
        grid-template-columns: minmax(200px,1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}
.projects-page .project .date{
    position: absolute;
    top: 10px;
    right: 10px;
}
.projects-page .project h4{
    font-weight: 500        ;
}
.projects-page .project .team{
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 5s;
}
.projects-page .project .team a:nth-child(2){
    left: 25px;
}
.projects-page .project .team a:nth-child(3){
    left: 50px;
}
.projects-page .project .team a:nth-child(4){
left: 75px;
    
}
.projects-page .project .team a:nth-child(5){
left: 100px;
}
.projects-page .project .team a:hover{
    z-index: 1000;
  

}
.projects-page .project .team  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .project  .do{
justify-content: flex-end ;
border-top:  1px solid #ddd;
padding-top: 15px;
margin-top: 15px;
}
@media (max-width:767px){
    .projects-page .project  .do  {
        flex-direction: column;
      
    }
}
.projects-page .project  .do span {
    padding: 3px 8px ;
    margin-left: 5px;
    width: fit-content;
}
@media (max-width:767px){
    .projects-page .project  .do span:not(:last-child) {
        margin-bottom: 15px;
    }
}
.projects-page .project  .info{
border-top: 1px solid #ddd;
margin-top: 15px;
padding-top: 15px;
}
@media (max-width:767px){
    .projects-page .project  .info{
        flex-direction: column;
    }
}
.projects-page .project  .prog{
    height: 8px;
    width: 260px;
}
@media (max-width:767px){
    .projects-page .project  .prog{
        margin-bottom: 15px;
    }
}
.projects-page .project  .prog span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
 /* End projects Page  */

  /* Start Courses Page  */
  .courses-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media( max-width:767px){
    .courses-page{
        grid-template-columns: minmax(200px,1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}
.courses-page .course{
    overflow: hidden;
}
.courses-page .course h4{
font-weight: 500;
}
.courses-page .course .cover{
width: 100%;
height: 150px;
}
.courses-page .course .instructor{
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:rgba(255, 255, 255, 0.248);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border:2px solid rgb(255, 255, 255);
    padding: 1px;
}
@media( max-width:767px){
    .courses-page .course .cover{
        max-height: 100%;
        max-width: 100%;
    }
}
.courses-page .course .description{
line-height: 1.6;
font-size: 13px;

}
.courses-page .course .info{

    border-top:  1px solid #ddd;
    font-size: 13px;
}
.courses-page .course .info .title{
    position: absolute;
    top: -13px;
    left: 50%;
    height: 27px;
    transform: translate(-50%);
    font-size: 13px;
}
 /* End Courses Page  */

 /* Start Friendes Page */
 .firendes-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media( max-width:767px){
    .firendes-page{
        grid-template-columns: minmax(200px,1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
    .firendes-page .firends .info{
        flex-direction: column;
    
    }
    .firendes-page .firends .info span{
        
        margin-bottom: 15px;
    }
    
}
.firendes-page .firends{
    overflow: hidden;
}
.firendes-page .firends h4{
font-weight: 500;
}
.firendes-page .firends .contact{
    position: absolute;
    top: 10px;
    left: 10xp;
}
.firendes-page .firends .contact i{
    background-color: #ddd;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    transition: var(--main-transition);

}
.firendes-page .firends .contact i:hover{
    background-color: var(--blue-color);
    color: white;
}
.firendes-page .firends .img-firends{
    border: 2px solid var(--blue-color);
    padding: 2px;
    transition: var(--main-transition);
}

.firendes-page .firends .img-firends:hover{
    border: 2px solid #ddd;
    background-color: #ddd;
}
.firendes-page .firends  .icons{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.firendes-page .firends  .icons i {
    margin-right: 5px;
}
.firendes-page .firends .icons .vip {
    position: absolute;
    right: 0;
    padding: 3px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    /* opacity: 0.6;
    animation: ops 0.4s infinite alternate; */
    transition: var(--main-transition);
    border-radius: 6px;
}
.firendes-page .firends  .icons .vip:hover{
    opacity: 0.9;
    cursor: pointer;
}


 /* End Friendes Page */


 /* Start Files Page */
 .files-page{
    flex-direction: row-reverse;
    align-items: flex-start;
 }
 @media (max-width:767px) {
    .files-page{
        flex-direction: column;
        align-items: normal;
     }
 }
 .files-page .files-stats{
    min-width: 260px;
 }
 .files-page .files-stats .icon{
    width: 40px;
    height: 40px;
    display: flex;
    margin-right: 10px;
 }
 .files-page .files-stats .size{
    margin-left: auto;
 }
 .files-page .files-stats .blue{
    background-color: rgb(0 117 255 /20%);
 }
 .files-page .files-stats .green{
    background-color: rgb(34 197 94 /20%);
 }
 .files-page .files-stats .red{
        background-color: rgb(244 67 54 /20%);
 }
 .files-page .files-stats .orange{
    background-color: rgb(245 158 11 /20%);
 }
 .files-page .files-stats .upload {
    margin: 15px auto  0;
    padding: 10px 15px;
    transition: var(--main-transition);
}

 .files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
 }
 .files-page .files-stats .upload:hover i {
    animation: go-up 0.8s;
 }

 .files-page .files-content{
flex: 1;
grid-template-columns: repeat(auto-fill ,minmax(200px ,1fr));
}
 .files-page .files-content .img{
    width: 64px;
    height: 64px;
    transition: var(--main-transition);
 }
 
 .files-page .files-content .img:hover{
        transform: rotate(5deg);
 }
 
 .files-page .files-content .info{
    border-top: 1px solid #ddd;

}
 /* End Files Page */

/* Start plans Page */

.plans-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media( max-width:767px){
    .plans-page{
        grid-template-columns: minmax(200px,1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}
.plans-page .plan .top{
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top{
    outline-color: var(--green-color);
}.plans-page .plan.blue   .top{
    outline-color: var(--blue-color);
}.plans-page .plan.orange .top{
    outline-color: var(--orange-color);
}
.plans-page .plan .price{
position: relative;
font-size: 40px;
font-weight: 500;
width: fit-content;
margin: auto;
}

.plans-page .plan .price span{
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}

.plans-page .plan ul li {
    padding: 15px 0;
    display: flex ;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}
.plans-page .plan ul li .yas {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yas, .help){
    color: var(--red-color);
}
.plans-page .plan ul li i:first-child{
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help{
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
/* End plans Page */

/* Start Animtion */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;

    }
}

@keyframes opacity-bold {
    0% {
        opacity: 0;
        bottom: 0;
        width: 40px;
    }

    30% {
        opacity: 0.1;
        bottom: 50px;
    }

    50% {
        opacity: 0.5;
        bottom: 100px;
    }

    70% {
        opacity: 0.9;
        bottom: 150px;
    }

    100% {
        opacity: 1;

        bottom: 200px;
        width: 40px;

    }
}
@keyframes ops{
0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes go-up{
    0%,100%{transform: translateY(0);}
    50%{transform: translateY(-5px);}
}
/* End Animtion */